.footer{
    
    position: absolute;
    color: white;
    width: 100%;
    background-color: #26272b;
    padding:25px ;
    line-height:24px;
    font-size: 1.2em;

    
    .row{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        margin: 0 auto 0 auto;
        
        h5{
            color: red;
            letter-spacing: 2px;
            display: inline-block;
        }
        
        .about{
            max-width: 600px;
         
            
        }
        .categories, .quicklinks{
            min-width: 300px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
        }
        
        ul{
            margin: 0;
            padding: 0;
            
            list-style-type: none;
    
            a{
                color: white;
    
                &:hover, &:focus{
                    color:#3366cc;
                    text-decoration: underline;
                }
            }
        }
    }

    hr{
        margin:20px 0
      }
    .bottom{
              
        p{
            
           margin-bottom: 0;
           opacity: 0.7;
       }
    }
}


 