
.site-navigation{
    width: 100%;
    height: 65px;
    background: white;
    display: flex;
    justify-content: space-between;
    color: $text-color;
    position: fixed;
    z-index: 100;
    top: 0;
    .menu-title{
        font-size: 22px;
        display: flex;
        
        align-items: center;
        margin-left: 30px;
        font-weight: 400;
    }
    .ion-ios-menu{
        font-size: 36px;
        width: 65px;
        align-items: center;
        cursor: pointer;
        display: none;
    }

    .menu-content-container{
        display: flex;
        align-items: center;
        padding-right: 30px;

        .ant-avatar{
            background: $background;
        border: 1px solid $border;
        }

        .menu-avatar-name{
            font-size: 18px;
            margin-left: 15px;
        }
    }


    ul{
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0 20px 0 50px;


        a{
            text-decoration: none;
            padding: 0 20px 0 20px;
            color: $text-color;


            &:hover{
                color: $text-link;
                text-decoration: underline;

            }
        }
    }
}



.drop-nav{  
    position: relative;
    width: 200px;
   
    &:hover {
        .dropdown{
            display: block;
        }
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        overflow: hidden;
    }
    .dropdown{
        position: absolute;
        background-color: white;
        display:none;

        
    }
    img{
        width: 50px;
        height: 50px;
       // transform: translateY(0px); can theo chieu y (top <>bot) 
        border-radius: 50%;
        margin-left: 15px;
      
    }
}