@import './forgot';


body{
    background-image: url("../images/login.jpg") ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;

}

.login{
    
    background-color:cornsilk;
    width: 680px;
    position: relative;
    margin-top: 200px;
    border-radius: 10px;
    padding: 62px 110px 33px 110px;

    .social{
        width: 420px;
        display: flex;
        justify-content: space-between;
        button{
           
            margin: 10px 0;
            height: 50px;
            font-size: 14px;
            letter-spacing: 1.3px;
            box-shadow: 0 2px 4px #777777;

        }
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 15px;

        button{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            line-height: 1.2;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            border-radius: 10px;
            transition: all .4s;
            position: relative;
            z-index: 1;
        }
       

        h2{
            margin-top: 0;
            font-size: 3rem;
            opacity: 0.7;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        


        .fill{
            display: flex;
            flex-direction: column;
            width: 100%;

            input{
                border-radius: 5px;
                height: 40px;
                background-color: aliceblue;
            }
        }

        .row{
            display: flex;
            flex-direction: column;
            button{
                margin: 0;
                padding: 0;
                border-radius: 15px;
                background-color: black;
                color: white;
                min-width: 430px;
                min-height: 50px;
                font-size: 18px;
            }

            .submit{
                &:hover{
                   
                    border-radius: 15px;
                    background: url("../images/login.jpg") no-repeat center center fixed; 
                    color: white; 
                }
            }
        }
    }
    p{
        text-align: center;
    }

    
    
}